.inventory-full{
	background-color:red;
}

#button-div{
	width:50%;
	float:left;
	overflow:hidden;
}

.inventory-label{
	text-align:right;
}
body{
	background-color:orange;
}
button{
	border:red;
	border-style:solid;
	height:40px;
	width:120px;
	border-radius:15px;
}
#inventory-div button{
     height: 22px;	

}

#mouse-div {
    width: 80px;
    height: 80px;
    position: absolute;
    background-color: transparent;
    border-color: green;
    border-width: 5000px;
    border-style: solid;
    pointer-events: none;
}
