.inventory-full{
	background-color:chrome;
}

#button-div{
	width:50%;
	float:left;
	overflow:hidden;


}

.inventory-label{
	text-align:right;
}
body{
	background-color:green;
}
button{
    background-color:#000000;
    color:#ffffff;
	border:dark green;
	border-style:solid;
	height:40px;
	width:120px;
	border-radius:15px;
}
#inventory-div button{
     height: 22px;	

}

#mouse-div {
    width: 80px;
    height: 80px;
    position: absolute;
    background-color: transparent;
    border-color: black;
    opacity: 1.0;
    border-width: 5000px;
    border-style: solid;
    pointer-events: none;
}
#gameover-div{
	font-size:xx-large;
}
div {
  width: 6px;
  height: 50px;
  background-color: #eee;
  overflow:hidden ;
}