.inventory-full{
	background-color:red;
}

#inventory-div{
	width:50%;
	float:left;
	overflow:hidden;
}

.inventory-full{
	text-align:right;
}
body{
	background-color:orange;
}
button{
	border:red;
	border-style:solid;
	height:40px;
	width:120px;
	border-radius:15px;
}
#button-div  table{
border: black;
border-style:solid;
}